transformers
vllm>=0.8.5
fire
evaluate
datasets<4
jiwer<4
more_itertools
peft
torchaudio
distro
autoawq
huggingface-hub
google-generativeai
openai
librosa
soundfile
flow-judge
qwen_omni_utils
git+https://github.com/MoonshotAI/Kimi-Audio.git
plotly
pyyaml
kaleido
latex2sympy2